<?xml version="1.0" encoding="UTF-8"?>
<!--跟标签beans  里面是字标签bean ,每一个Bean代表一个类的配置-->
<beans>

    <!--    dao层 实现类
    accountDao必须放在 transferService 前面配置 因为在调用层,先实例化transferService,而transferService依赖accountDao对象

     实例化顺序无关,但是servlet中先实例化 transferService,transferService中实例化 accountDao

      -->

    <bean id="accountDao" class="com.udeam.edu.dao.impl.JdbcAccountDaoImpl">

    </bean>

    <!--    TransferServiceImpl service-->
    <bean id="transferService" class="com.udeam.edu.service.impl.TransferServiceImpl">
        <!--        set属性设置值,
          private AccountDao accountDao = (AccountDao) BeanFactorys.getBean("accountDao");
        解决 成员变量 不适用 = 后的获取,set + name 之后锁定值到 进行设置 注入  -->
        <property name="AccountDao" ref="accountDao"></property>
    </bean>


</beans>

